

th {
  width: 100px;
  color: blue;
  height: 10px;
}

td {
  text-align: center;
}

/*
div.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.col-1 {
  text-align: left;
}

div.col-2 {
  text-align: right;
}
*/
